<%= debug @post %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  Post Helper -> Published on: <%= post_formatted_date(@post.created_at) %>
</p>

<p>Custom Helper -> Short format: <%= format_date(@post.created_at, :short) %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
